nav div{
    padding: 6px;
    margin: 4px;
}
.nav-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.nav-img:hover{

    background-color: #515151;  
    border-radius: 50%;
}

.image-google{

    width: 300px;
}

input{
    all: unset;
    color:white;
    padding-bottom:  5px;
    padding-left: 5px;
    
}
.search-bar:hover{
    background-color: #303134;
    border: 1px solid #202124 !important;
    

}
button{
    all: unset;
    background-color: #303134;
    padding: 8px 15px 8px 15px;
    border-radius: 4px;
    border: 1px solid #202124;
}
button:hover{
    border: 1px solid rgb(80, 80, 80);
}

footer div .links div{ 
    padding: 10px;
}